* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	scroll-behavior: smooth;
}

/* navigation starts here */
.mynavigation {
	position: fixed;
	top: 0;
	width: 100%;
	height: 79px;
	background-color: #32cf9d;
	padding: 20px 50px;
	z-index: 10;
}
.logo {
	float: left;
}
.logo {
	text-decoration: none;
}
.logo img {
	width: 100%;
}
.mynav {
	float: left;
	width: 50%;
	margin-left: 18%;
	margin-top: 10px;
}
.mynav li {
	float: left;
	list-style-type: none;
	margin-right: 8%;
	font-size: 1rem;
	font-weight: 300;
}
.mynav li:nth-child(2) span {
	position: relative;
	top: -3px;
	left: 10px;
	color: #fff;
}
.mynav li a {
	text-decoration: none;
	color: #fff;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.mynav li a:hover {
	color: grey;
}
.other_btns {
	float: right;
	width: 20%;
	color: #fff;
	margin-top: 10px;
}
.other_btns div {
	float: left;
	margin-left: 10%;
	font-size: .9rem;
}
.other_btns div a {
	text-decoration: none;
	color: #fff;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.other_btns div a:hover {
	color: grey;
}
.currency select {
	border: 0;
	background: none;
	font-size:.9rem;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.currency select:hover {
	color: grey;
}
.menu_btn {
	display: none;
	color: #fff;
	cursor: pointer;
	float: right;
	margin-top: 10px;
	font-size: .7rem;
	font-weight: 400;
}

.decorations_tab {
	display: none;
	width: 90%;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #fff;
	border: 0;
	border-radius: 5px;
	padding: 38px 50px;
}
.decorations_tab::before {
	width: 11%;
	height: 20px;
	content: "";
	position: absolute;
	top: -20px;
	left: 35.8%;
}
.tab_sec1, .tab_sec2, .tab_sec3, .tab_sec4 {
	float: left;
	margin-right: 5.5%;
	font-size: .9rem;
	font-weight: 100;
}
.decorations_tab h3 {
	margin-bottom: 20px;
}
.decorations_tab p {
	margin-bottom: 15px;
}
.decorations_tab a {
	color: #000;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.decorations_tab a:hover {
	color: grey;
}
/* respo nav starts here */
.resp_nav {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 75%;
	height: 100vh;
	background-color: #fff;
	z-index: 10;
}
.btn_area {
	width: 100%;
	height: 50px;
	font-size: 1rem;
	font-weight: 100;
	padding: 10px;
}
.close {
	float: right;
}
.back {
	float: left;
	display: none;
}
.nav_pg_1 {
	width: 100%;
	height: 100%;
}
.nav_pg_1 ul li {
	list-style-type: none;
	padding: 10px 25px;
	border-top: 1px solid darkgray;
}
.nav_pg_1 ul li:last-child {
	border-bottom: 1px solid darkgray;
}
.nav_pg_1 ul li a {
	text-decoration: none;
	color: #000;
}
.nav_pg_1 ul li:nth-child(2) a {
	color: grey;
}
.nav_pg_1 ul li:nth-child(2) span {
	color: grey;
	float: right;
}
.nav_pg_2 {
	display: none;
	position: absolute;
	top: 50px;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.nav_pg_2 h2 {
	padding: 15px;
	background-color: #dbdbdb;
	font-size: 1rem;
	font-weight: 100;
}
.nav_pg_2 h3 {
	padding: 15px;
	font-size: .9rem;
}
.nav_pg_2 h3 a {
	text-decoration: none;
	color: #000;
}
.nav_pg_2 p {
	padding: 8px 15px;
	font-size: .9rem;
	font-weight: 100;
}
.nav_pg_2 p a {
	text-decoration: none;
	color: #000;
}

.my_caraousel_item {
	width: 100%;
	height: 100vh;
	background: #fff url('../img/img1.jpg') no-repeat center;
	background-size: cover;
}
.my_carousel_caption {
	bottom: 30%;
}
.my_carousel_caption h3 {
	margin-bottom: 3rem;
}
.LR_arrow {
	font-size: 2rem;
	font-weight: 100;
}
.mybutton {
	padding: 10px 25px;
	border: 0;
	border-radius: 20px;
	background-color: grey;
	color: #fff;
	cursor: pointer;
	font-size: .9rem;
	transition-duration: 0.5s;
}
.mybutton:hover {
	background-color: #32cf9d;
}

.threesec_sec {
	width: 90%;
	margin: 0 auto;
	margin-top: 70px;
}
.threesec_sec .threesec_sec1 {
	position: relative;
	float: left;
	width: 50%;
	overflow: hidden;
}
.threesec_sec1 img {
	width: 100%;
}
.threesec_sec .threesec_sec2 {
	position: relative;
	float: right;
	width: 45%;
	overflow: hidden;
}
.threesec_sec2 img {
	width: 100%;
}
.threesec_sec .threesec_sec3 {
	position: relative;
	float: left;
	width: 50%;
	overflow: hidden;
	margin-top: 60px;
}
.threesec_sec3 img {
	width: 100%;
}
.threesec_sec .small_sec {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 52%;
	height: 210px;
}
.threesec_sec .small_sec_bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #32cf9d;
	opacity: 0.5;
	transition-duration: 0.5s;
}
.threesec_sec .small_sec_cont {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
}
.threesec_sec h2 {
	font-weight: 100;
	margin: 20px;
}
.threesec_sec h3 {
	font-weight: 100;
	color: #000;
	margin: 20px;
	margin-top: 0;
	transition-duration: 0.5s;
}
.threesec_sec button {
	margin: 0 20px 20px 20px;
}
.threesec_sec2 .small_sec {
	width: 50%;
}
.mybutton2 {
	padding: 10px 28px;
	border: 1px solid #fff;
	border-radius: 20px;
	background-color: #fff;
	color: #32cf9d;
	cursor: pointer;
	font-size: .8rem;
	font-weight: 100;
	transition-duration: 0.5s;
}

.sixsec_sec {
	width: 90%;
	margin: 0 auto;
	margin-top: 70px;
}
.sixsec_sec .sec_align {
	float: left;
	width: 30%;
	height: 400px;
	border: 2px solid #fff;
	margin-right: 5%;
	text-align: center;
	overflow: hidden;
	transition-duration: 0.5s;
}
.sixsec_sec .sec4, .sixsec_sec .sec5, .sixsec_sec .sec6 {
	margin-top: 58px;
}
.sixsec_sec .sec3, .sixsec_sec .sec6 {
	margin-right: 0;
}
.sixsec_sec .sec1 {
	background: #fff url('../img/img5.jpg') no-repeat center;
	background-size: cover;
}
.sixsec_sec .sec2 {
	background: #fff url('../img/img6.jpg') no-repeat center;
	background-size: 100%;
}
.sixsec_sec .sec3 {
	background: #fff url('../img/img7.jpg') no-repeat center;
	background-size: 100%;
}
.sixsec_sec .sec4 {
	background: #fff url('../img/img7.png') no-repeat center;
	background-size: 100%;
}
.sixsec_sec .sec5 {
	background: #fff url('../img/img8.jpg') no-repeat center;
	background-size: 100%;
}
.sixsec_sec .sec6 {
	background: #fff url('../img/img9.jpg') no-repeat center;
	background-size: 100%;
}
.sixsec_sec button {
	margin-top: 48%;
}
.mybutton3 {
	padding: 10px 23px;
	border: 1px solid grey;
	border-radius: 40px;
	font-size: .9rem;
	font-weight: 100;
	background-color: grey;
	color: #fff;
	cursor: pointer;
	transition-duration: 0.5s;
}

.newarrivals_sec {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	margin-top: 70px;
}
.newarrivals_sec h1 {
	font-weight: 100;
	color: grey;
}
.newarrivals_sec img {
	width: 4%;
	margin-top: 15px;
}

.foursec_sec {
	width: 90%;
	margin: 0 auto;
	margin-top: 70px;
}
.foursec_sec .sec {
	float: left;
	width: 23%;
	height: 435px;
	margin-left: 2.5%;
}
.foursec_sec .sec1 {
	margin-left: 0;
}
.foursec_sec .sec .imgsec {
	position: relative;
	width: 100%;
	height: 75%;
}
.foursec_sec .sec img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.foursec_sec .sec .sec1_img2 {
	display: none;
}
.foursec_sec .sec .contsec {
	width: 100%;
	background-color: #f0f0f0;
	color: rgba(95, 95, 95);
	padding: 25px 15px;
}
.foursec_sec .contsec h4 {
	font-weight: 400;
	margin-bottom: 5px;
}
.foursec_sec .contsec p {
	font-weight: 400;
}
.foursec_sec .contsec p del {
	font-size: .7rem;
	color: grey;
	margin-left: 13px;
}
.foursec_sec .sec .option_sec {
	display: none;
	position: absolute;
	top: 50px;
	right: 18px;
}
.foursec_sec .option_sec a {
	text-decoration: none;
}
.foursec_sec .option_sec .foursec_span {
	display: block;
	font-size: .8rem;
	border: 0;
	border-radius: 100%;
	background-color: #fff;
	color: rgba(95, 95, 95);
	padding: 12px;
	margin-bottom: 13px;
}

.unique_sec {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	margin-top: 70px;
}
.unique_sec h1 {
	font-weight: 100;
	color: grey;
}
.unique_sec img {
	width: 4%;
	margin-top: 15px;
}

.threesec2_sec {
	width: 90%;
	margin: 0 auto;
	margin-top: 70px;
}
.threesec2_sec .sec {
	float: left;
	width: 30%;
	height: 543px;
	margin-left: 5%;
}
.threesec2_sec .sec1 {
	margin-left: 0;
}
.threesec2_sec .sec .imgsec {
	position: relative;
	width: 100%;
	height: 75%;
}
.threesec2_sec .sec img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.threesec2_sec .sec .sec1_img2 {
	display: none;
}
.threesec2_sec .sec .contsec {
	width: 100%;
	background-color: #f0f0f0;
	color: rgba(95, 95, 95);
	padding: 25px 15px;
}
.threesec2_sec .contsec h4 {
	font-weight: 400;
	margin-bottom: 5px;
}
.threesec2_sec .contsec p {
	font-weight: 400;
}
.threesec2_sec .contsec p del {
	font-size: .7rem;
	color: grey;
	margin-left: 13px;
}
.threesec2_sec .sec .option_sec {
	display: none;
	position: absolute;
	top: 50px;
	right: 18px;
}
.threesec2_sec .option_sec a {
	text-decoration: none;
}
.threesec2_sec .option_sec .threesec2_span {
	display: block;
	font-size: .8rem;
	border: 0;
	border-radius: 100%;
	background-color: #fff;
	color: rgba(95, 95, 95);
	padding: 12px;
	margin-bottom: 13px;
}

.shelf_sec {
	width: 100%;
	margin-top: 70px;
	padding: 70px 0;
	text-align: center;
	background: #fff url('../img/img14.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
.shelf_sec h1 {
	font-size: 3rem;
	font-weight: 400;
	color: rgb(0, 0, 20);
	opacity: 0.9;
}
.shelf_sec h3 {
	font-size: 2rem;
	font-weight: 400;
	color: rgb(0, 0, 20);
	margin-top: 20px;
	opacity: 0.9;
}
.shelf_sec button {
	border: 1px solid #fff;
	border-radius: 40px;
	color: rgba(95, 95, 95);
	padding: 18px 30px;
	transition-duration: 0.5s;
	margin-top: 150px;
}
.shelf_sec button:hover {
	background-color: #32cf9d;
	color: #fff;
}

.multiple_sec {
	width: 90%;
	margin: 0 auto;
	margin-top: 70px;
}
.multiple_sec .sec {
	float: left;
	width: 15%;
	margin-left: 2%;
	margin-bottom: 50px;
	text-align: center;
}
.multiple_sec .sec img {
	width: 80%;
	border: 0;
	border-radius: 5px;
	background-color: rgba(130, 130, 130, 0.1);
	margin-bottom: 20px;
}
.multiple_sec .sec1 {
	margin-left: 0;
}
.multiple_sec .sec7 {
	margin-left: 0;
}
.multiple_sec .sec a {
	font-weight: 100;
	color: rgba(95, 95, 95);
	text-decoration: none;
	transition-duration: 0.5s;
}
.multiple_sec .sec a:hover {
	color: rgb(180, 180, 180);
}

.threesec3_sec {
	width: 100%;
	margin: 0 auto;
	margin-top: 70px;
	text-align: center;
}
.threesec3_sec .sec {
	position: relative;
	width: 33%;
	float: left;
	padding: 5%;
}
.threesec3_sec .sec .sec_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
}
.threesec3_sec .sec1 {
	background: #fff url('../img/sec1_img.jpg') no-repeat center;
	background-size: 138%;
}
.threesec3_sec .sec2 {
	background: #fff url('../img/sec2_img.jpg') no-repeat center;
	background-size: 138%;
}
.threesec3_sec .sec3 {
	background: #fff url('../img/sec3_img.jpg') no-repeat center;
	background-size: 138%;
}
.threesec3_sec .sec h3 {
	font-weight: 400;
	color: #fff;
}
.threesec3_sec .sec p {
	font-size: .9rem;
	font-weight: 100;
	color: #fff;
	margin: 50px 0;
}
.mybutton4 {
	border: 1px solid #fff;
	border-radius: 40px;
	padding: 13px 25px;
	font-size: .8rem;
	font-weight: 100;
	cursor: pointer;
}
.threesec3_sec .sec h3, .threesec3_sec .sec p, .threesec3_sec .sec button {
	position: relative;
}

.m_spnsers_sec {
	width: 90%;
	height: 113px;
	margin: 0 auto;
	margin-top: 70px;
	overflow: hidden;
	overflow-x: scroll;
}
.m_spnsers_sec .brands {
	float: left;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	margin-left: 3%;
}

.newsletter_sec {
	width: 100%;
	margin-top: 70px;
	padding: 80px 0;
	background: #fff url('../img/last_img.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}
.newsletter_sec .newsletter_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #32cf9d;
	opacity: 0.8;
}
.newsletter_sec .mycontainer {
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.newsletter_sec .sec1 {
	float: left;
	width: 50%;
	text-align: left;
	color: #fff;
}
.newsletter_sec .sec1 h1 {
	font-weight: 400;
}
.newsletter_sec .sec1 p {
	font-weight: 0.8rem;
	font-weight: 100;
}
.newsletter_sec .sec2 {
	float: right;
	width: 50%;
	text-align: left;
}
.newsletter_sec .sec2 .form_grp {
	margin-top: 20px;
}
.newsletter_sec .sec2 input[type="email"] {
	width: 70%;
	border: 1px solid #fff;
	border-radius: 40px 0 0 40px;
	background: none;
	color: #fff;
	padding: 15px;
}
.newsletter_sec .sec2 input[type="email"]:focus {
	border-color: #fff;
}
.newsletter_sec .sec2 input[type="submit"] {
	border: 0;
	border-radius: 0 40px 40px 0;
	background-color: #fff;
	padding: 15px 25px;
	font-size: 0.85rem;
	font-weight: 100;
	cursor: pointer;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.newsletter_sec .sec2 input[type="submit"]:hover {
	background-color: #494949;
	color: #fff;
}

.footer {
	width: 100%;
	text-align: center;
}
.footer .sec1 {
	background-color: #f0f0f0;
}
.footer .social_media a {
	display: inline-block;
	width: 43px;
	margin-top: 30px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 100%;
	font-size: 0.8rem;
	color: #494949;
	text-decoration: none;
	margin-left: 10px;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.footer .social_media a:hover {
	border: 1px solid #32cf9d;
	color: #32cf9d;
}
.footer .sec1 p {
	font-size: 0.9rem;
	font-weight: 100;
	margin: 20px 0;
}
.footer .footer_links {
	padding: 15px 10px;
}
.footer .footer_links a {
	text-decoration: none;
	color: #494949;
	font-size: 0.8rem;
	font-weight: 400;
	margin-left: 10px;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.footer .footer_links a:hover {
	color: #32cf9d;
}
.footer .sec2 {
	background-color: #fff;
	padding: 20px 0;
	color: #494949;
	font-size: 0.8rem;
	font-weight: 400;
}
.footer .sec2 a {
	color: #494949;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.footer .sec2 a:hover {
	color: #32cf9d;
}


.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


/* for functionality */
.decorationShow {
	display: block;
	-webkit-animation: decoration_anim 0.5s linear 0s;
	animation: decoration_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes decoration_anim {
	0%{
		opacity: 0;
		-webkit-transform: translate(0px, -10px);
		transform: translate(0px, -10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

.My_slideInRight{
	display: block;
	-webkit-animation: resp_nav_anim 0.5s linear 0s;
	animation: resp_nav_anim 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim {
	0% {
		opacity: 0.5;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.My_slideOutRight{
	display: block;
	-webkit-animation: resp_nav_anim2 0.5s linear 0s;
	animation: resp_nav_anim2 0.5s linear 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes resp_nav_anim2 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}

/* media query */
@media only screen and (max-width:1025px) {
	.mynav {
		margin-left: 13%;
	}
	.mynav li {
		margin-right:5%;
		font-size: .8rem;
	}

	.other_btns div {
		margin-left: 7%;
		font-size: .8rem;
	}

	.currency select {
		font-size:.8rem;
	}

	.tab_sec1, .tab_sec2, .tab_sec3, .tab_sec4 {
		margin-right: 8%;
		font-size: .75rem;
	}
	.tab_sec1 h3, .tab_sec2 h3, .tab_sec3 h3, .tab_sec4 h3 {
		font-size: 1rem;
	}

	.threesec_sec h2 {
		font-size: 1.2rem;
		margin: 15px 20px;
	}
	.threesec_sec h3 {
		font-size: 1.2rem;
		margin: 15px 20px;
	}


	.threesec3_sec .sec {
		padding: 3%;
	}
	.threesec3_sec .sec1 {
		background-size: 168%;
	}
	.threesec3_sec .sec2 {
		background-size: 168%;
	}
	.threesec3_sec .sec3 {
		background-size: 168%;
	}
	.threesec3_sec .sec h3 {
		font-size: 1rem;
	}
	.threesec3_sec .sec p {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 769px) {
	.mynavigation {
		padding: 20px 30px;
	}
	.mynav {
		margin-left: 8%;
	}
	.mynav li {
		margin-right:4%;
		font-size: .7rem;
	}

	.other_btns div {
		margin-left: 5%;
		font-size: .7rem;
	}

	.currency select {
		font-size:.7rem;
	}

	.tab_sec1, .tab_sec2, .tab_sec3, .tab_sec4 {
		margin-right: 2.2%;
		font-size: .68rem;
	}
	.decorations_tab h3 {
		margin-bottom: 20px;
	}
	.decorations_tab p {
		margin-bottom: 15px;
	}

	.threesec_sec .threesec_sec1, .threesec_sec .threesec_sec3, .threesec_sec .threesec_sec2 {
		width: 100%;
		margin-top: 50px;
	}
	.sixsec_sec .sec_align {
		width: 48%;
		margin: 0;
	}
	.sixsec_sec .sec1, .sixsec_sec .sec3, .sixsec_sec .sec5 {
		float: left;
	}
	.sixsec_sec .sec2, .sixsec_sec .sec4, .sixsec_sec .sec6 {
		float: right;
	}
	.sixsec_sec .sec3 {
		margin-top: 10px;
	}
	.sixsec_sec .sec4 {
		margin-top: 10px;
	}
	.sixsec_sec .sec5 {
		margin-top: 10px;
	}
	.sixsec_sec .sec6 {
		margin-top: 10px;
	}
	
	.newarrivals_sec {
		padding: 30px 0;
		margin-top: 50px;
	}
	.newarrivals_sec img {
		width: 7%;
	}
	
	.foursec_sec {
		margin-top: 50px;
	}
	.foursec_sec .sec {
		width: 45%;
		margin-left: 0;
	}
	.foursec_sec .sec2, .foursec_sec .sec4 {
		margin-left: 0;
		float: right;
	}
	.foursec_sec .sec3, .foursec_sec .sec4 {
		margin-top: 50px;
	}
	
	.unique_sec {
		padding: 30px 0;
		margin-top: 50px;
	}
	.unique_sec img {
		width: 7%;
	}
	
	.shelf_sec {
		margin-top: 50px;
		padding: 50px 0;
	}
	.shelf_sec button {
		margin-top: 100px;
	}
	
	.threesec2_sec {
		margin-top: 50px;
		padding-bottom: 20px;
	}
	.threesec2_sec .sec {
		height: 393px;
		margin-left: 3.3%;
	}
	.threesec2_sec .contsec h4 {
		font-size: 1rem;
	}
	.threesec2_sec .contsec p {
		font-size: 1rem;
	}
	.threesec2_sec .contsec p del {
		font-size: 0.7rem;
	}
	
	.multiple_sec {
		margin-top: 50px;
	}
	.multiple_sec .sec {
		width: 20%;
		margin-left: 5%;
	}
	
	.threesec3_sec {
		margin-top: 50px;
	}
	.threesec3_sec .sec {
		padding: 3%;
	}
	.threesec3_sec .sec h3 {
		font-size: 0.8rem;
	}
	.threesec3_sec .sec p {
		font-size: 0.85rem;
	}
	.threesec3_sec .sec1 {
		background-size: 230%;
	}
	.threesec3_sec .sec2 {
		background-size: 230%;
	}
	.threesec3_sec .sec3 {
		background-size: 230%;
	}
	
	.newsletter_sec {
		margin-top: 50px;
		padding: 50px 0;
	}
	.newsletter_sec .sec1 {
		width: 100%;
		text-align: center;
	}
	.newsletter_sec .sec2 {
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width:426px) {
	.mynavigation {
		padding: 20px;
	}
	.mynav {
		display: none;
	}

	.other_btns {
		width: 39%;
	}

	.menu_btn {
		display: block;
	}

	.my_caraousel_item {
		height: 50vh;
	}
	.my_carousel_caption {
		bottom: 10%;
	}
	.my_carousel_caption h3 {
		font-size: 1.2rem;
		margin-bottom: 1.3rem;
	}
	.mybutton {
		font-size: 0.7rem;
	}

	.threesec_sec {
		margin-top: 20px;
	}
	.threesec_sec .small_sec {
		width: 100%;
	}

	.sixsec_sec .sec_align {
		width: 100%;
	}
	.sixsec_sec .sec_align {
		margin-top: 0;
		margin-bottom: 30px;
	}
	
	.newarrivals_sec {
		padding: 20px 0;
		margin-top: 30px;
	}
	.newarrivals_sec img {
		width: 13%;
	}
	
	.foursec_sec {
		margin-top: 30px;
	}
	.foursec_sec .sec {
		width: 100%;
		height: 535px;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 30px;
	}
	
	.unique_sec {
		padding: 20px 0;
		margin-top: 30px;
	}
	.unique_sec img {
		width: 13%;
	}
	
	.shelf_sec {
		margin-top: 30px;
		padding: 30px 0;
	}
	.shelf_sec h1 {
		font-size: 2rem;
	}
	.shelf_sec h3 {
		font-size: 1.5rem;
	}
	.shelf_sec button {
		margin-top: 80px;
	}
	
	.threesec2_sec {
		margin-top: 50px;
	}
	.threesec2_sec .sec {
		height: 393px;
		margin-left: 3.3%;
	}
	.threesec2_sec .sec {
		width: 100%;
		height: 593px;
		margin: 0;
	}
	
	
	.multiple_sec {
		margin-top: 30px;
	}
	.multiple_sec .sec {
		width: 20%;
		margin-left: 6.64%;
	}
	.multiple_sec .sec1, .multiple_sec .sec5, .multiple_sec .sec9 {
		margin-left: 0;
	}
	.multiple_sec .sec a {
		font-size: 0.57rem;
	}
	
	.threesec3_sec {
		margin-top: 30px;
	}
	.threesec3_sec .sec {
		width: 100%;
		padding: 8%;
	}
	.threesec3_sec .sec h3 {
		font-size: 0.8rem;
	}
	.threesec3_sec .sec p {
		font-size: 0.8rem;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.mybutton4 {
		width: 100%;
	}
	
	.newsletter_sec {
		margin-top: 40px;
		padding: 30px 0;
	}
	.newsletter_sec .sec2 input[type="email"] {
		width: 68%;
	}
}

@media only screen and (max-width:376px) {
	.mynavigation {
		padding: 20px 10px;
	}
	.logo img {
		width: 90%;
	}

	.multiple_sec {
		width: 95%;
	}
	.multiple_sec .sec {
		width: 25%;
		margin: 0;
	}
	.multiple_sec .sec img {
		margin-bottom: 0;
	}

	.newsletter_sec .sec2 input[type="email"] {
		width: 50%;
	}
}

@media only screen and (max-width:321px) {
	.mynavigation {
		padding: 10px 7px;
		height: 58px;
	}
	.logo img {
		width: 70%;
	}
	.other_btns div {
		margin-left: 3%;
		font-size: 0.58rem;
	}
	.menu_btn {
		margin-right: 2px;
		font-size: 0.58rem;
	}
}